@import 
 url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
  box-sizing:border-box;
}

body{
  font-family: 'Poppins' , sans serif;
  background-color: #05c46b;
  text-align: center;
  margin: 0;
}
h1{
  margin-bottom: 0;
}
h1 + p{
  margin-top: 0;
}
form{
  background-color:#fff;
  margin: 0 auto;
  padding: 30px 20px;
  max-width: 450px;
  border-radius: 2px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 40px auto;
}
.form-control{
 margin-bottom: 20px;
  text-align: left;
}
.form control label{
  display: block;
  margin-bottom: 7px;
}
.form-control input, .form-control select, .form-control textarea{
  padding: 10px;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid #777;
  display: block;
  width: 100%;
}
.form-control input[type = "radio"], .form-control input[type ="checkbox"] 
 {
  display: inline-block;
  width: auto;
}
button{
  padding: 10px;
display: block;
width: 100%;
  border-radius: 5px;
border: 1px solid #777;
  font-family: inherit;
  background-color: #05c46b;
}